<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 panel panel-default">
      <div class="panel-body">
        <h1>About "Quote It!"</h1>
        <p>"Quote It!" is a public blog for movie-lovers to share their favorite quotes from all of the different movies they enjoy. Anyone can come to the blog to see movie quotes that others have posted. Please log in (or sign up) in order to post your own movie quotes. You can always go to your profile and view, edit, or delete any quotes that you have posted.</p>
        <p>This app was created with Ruby on Rails and using other technologies such as Bootstrap and Bcrypt.</p>
      </div>
    </div>
  </div>
</div>
